<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.gitai.smscodehelper">

    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <!--uses-permission android:name="android.permission.READ_SMS"/-->
    <!--uses-permission android:name="android.permission.WRITE_SMS"/-->

    <application
        android:name=".SMSApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">
        <!-- <meta-data android:name="xposedmodule" android:value="true"/>
        <meta-data android:name="xposedminversion" android:value="54"/>
        <meta-data android:name="xposeddescription" android:value="@string/intercept_xposed_summary"/> -->
        <activity android:name=".ui.MainPreferences"
            android:label="@string/title"
            android:excludeFromRecents="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TaskerActivity"
            android:exported="true"
            android:icon="@drawable/ic_notify"
            android:label="@string/plugin_name"
            tools:ignore="ExportedActivity" >

            <!-- this Intent filter allows the plug-in to be discovered by Locale -->
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>

        </activity>
        <receiver android:name=".receiver.SecretCodeReceiver">
            <intent-filter>
                <action android:name = "android.provider.Telephony.SECRET_CODE"/>
                <data
                    android:host="767"
                    android:scheme="android_secret_code"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.SMSBroadcastReceiver"
            android:exported="true"
            android:process=":background"
            tools:ignore="ExportedReceiver">
            <intent-filter android:priority="100"><!-- 2147483647 -->
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="me.gitai.smscodehelper.action.PARSE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="package"/>
            </intent-filter>

            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>

        </receiver>
        <receiver android:name=".receiver.QueryReceiver"
            android:exported="true"
            android:process=":background"
            tools:ignore="ExportedReceiver">

            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.QUERY_CONDITION" />
            </intent-filter>

        </receiver>
        <receiver android:name=".receiver.CopyReceiver">
            <intent-filter>
                <action android:name="SMS_CODE_COPY"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
